$light-gray: whitesmoke;
$medium-gray: lightgray;
$dark-gray: gray;


$light-blue: blue; 
$medium-blue: blue;
$dark-blue: blue; 

$light-red: red;
$medium-red: red;
$dark-red: red;

$black: rgb(80, 80, 80);
